<button class="chatbot-toggler">
        <img class="we_are_here" src="/assets/img/we-are-here.svg"/>
        <span class="material-symbols-outlined mode_comment">mode_comment</span>
        <span class="material-symbols-outlined">close</span>
    </button>
    <div class="chatbot">
        <header>
            <h2>Conseiller</h2>
            <span class="close-btn material-symbols-outlined">close</span>
        </header>
        <ul class="chatbox">
            <li class="chat incoming">
                <span class="material-symbols-outlined">smart_toy</span>
                <p>Bonjour 👋, comment puis-je vous aider aujourd'hui ?</p>
            </li>
            
        </ul>
        <div class="chat-input">
            <textarea placeholder="Enter a message..." required></textarea>
            <span id="send-btn" class="material-symbols-outlined">send</span>
        </div>
    </div>